### Relevant links

https://www.kaggle.com/c/cat-in-the-dat-ii/

### Imports

In [3]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline 
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 147 ms

In [4]:
from scripts.imports import *
from toolbox import *

time: 3.67 s

In [5]:
pd.options.display.max_rows = 4000
pd.set_option('display.max_columns', 999)
pd.options.mode.chained_assignment = None

time: 28.9 ms

### Getting data

In [ ]:
current_path = os.getcwd()
data_dir_path = os.path.join(current_path,"data")

if not os.path.exists(data_dir_path):
    os.mkdir(data_dir_path)

print(data_dir_path) #Never print

In [ ]:
download_data('cat-in-the-dat-ii',current_path)

In [6]:
#Listify files to download
all_data_files = os.listdir('data/') #Getting all files in data folder in a list
all_data_files = [x for x in all_data_files if x.endswith('.csv')] #Removing .ipynb files
all_data_files = [remove_from_right(x,4) for x in all_data_files] #Removing .csvs
all_data_files

['train', 'sample_submission', 'test']

time: 155 ms

In [31]:
for i in all_data_files:
    print(i + "=" + f"read_data('data/','csv','{i}')")
    print("")
    exec(i + "=" + f"read_data('data/','csv','{i}')")
    exec(f"shape = {i}.shape")
    print(f"Shape of {i}: ", shape)
    exec(f"data_types = {i}.dtypes")
    print("")
    print(f"Data types in {i}: \n \n ", data_types)
    print("---------------------")

train=read_data('data/','csv','train')

Shape of train:  (600000, 25)

Data types in train:

  id          int64
bin_0     float64
bin_1     float64
bin_2     float64
bin_3      object
bin_4      object
nom_0      object
nom_1      object
nom_2      object
nom_3      object
nom_4      object
nom_5      object
nom_6      object
nom_7      object
nom_8      object
nom_9      object
ord_0     float64
ord_1      object
ord_2      object
ord_3      object
ord_4      object
ord_5      object
day       float64
month     float64
target      int64
dtype: object
---------------------
sample_submission=read_data('data/','csv','sample_submission')

Shape of sample_submission:  (400000, 2)

Data types in sample_submission:

  id          int64
target    float64
dtype: object
---------------------
test=read_data('data/','csv','test')

Shape of test:  (400000, 24)

Data types in test:

  id         int64
bin_0    float64
bin_1    float64
bin_2    float64
bin_3     object
bin_4     object
nom_0     object
nom_1     object
nom_2     object
nom_3     object
nom_4     object
nom_5     object
nom_6     object
nom_7     object
nom_8     object
nom_9     object
ord_0    float64
ord_1     object
ord_2     object
ord_3     object
ord_4     object
ord_5     object
day      float64
month    float64
dtype: object
---------------------
time: 3.02 s

In [32]:
test_for_submission = test.copy()

time: 84.4 ms

### Testing data

#### Structural checks

In [9]:
advanced_describe(train)

,count,mean,std,min,25%,50%,75%,max,missing,missing%,unique,unique%,unique_values,dtype
bin_0,582106,0.0923011,0.289451,0,0,0,0,1,17894,715.76,3,0.12,"[0.0, 1.0, nan]",float64
bin_1,581997,0.185532,0.388729,0,0,0,0,1,18003,720.12,3,0.12,"[0.0, 1.0, nan]",float64
bin_2,582070,0.278704,0.448362,0,0,0,1,1,17930,717.20,3,0.12,"[0.0, 1.0, nan]",float64
bin_3,581986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18014,720.56,3,0.12,"[F, T, nan]",object
bin_4,581953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18047,721.88,3,0.12,"[N, Y, nan]",object
day,582048,4.11277,2.03443,1,2,5,6,7,17952,718.08,8,0.32,"[6.0, 7.0, 5.0, 3.0, 1.0, 2.0, nan, 4.0]",float64
id,600000,300000,173205,0,150000,300000,449999,599999,0,0.00,600000,24000.00,NaN,int64
month,582012,6.37132,3.45896,1,3,6,8,12,17988,719.52,13,0.52,"[3.0, 7.0, 9.0, 12.0, 4.0, 6.0, 1.0, 8.0, 5.0,...",float64
nom_0,581748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18252,730.08,4,0.16,"[Red, Blue, Green, nan]",object
nom_1,581844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18156,726.24,7,0.28,"[Trapezoid, Star, nan, Circle, Triangle, Polyg...",object
nom_2,581965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18035,721.40,7,0.28,"[Hamster, Axolotl, Lion, Dog, Cat, Snake, nan]",object
nom_3,581879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18121,724.84,7,0.28,"[Russia, nan, Canada, Finland, Costa Rica, Chi...",object
nom_4,581965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18035,721.40,5,0.20,"[Bassoon, Theremin, nan, Oboe, Piano]",object
nom_5,582222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17778,711.12,1221,48.84,NaN,object
nom_6,581869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18131,725.24,1520,60.80,NaN,object
nom_7,581997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18003,720.12,223,8.92,NaN,object
nom_8,582245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17755,710.20,223,8.92,NaN,object
nom_9,581927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18073,722.92,2219,88.76,NaN,object
ord_0,581712,1.94822,0.853904,1,1,2,3,3,18288,731.52,4,0.16,"[3.0, 1.0, 2.0, nan]",float64
ord_1,581959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18041,721.64,6,0.24,"[Contributor, Grandmaster, nan, Novice, Expert...",object
ord_2,581925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18075,723.00,7,0.28,"[Hot, Warm, Freezing, Lava Hot, Cold, Boiling ...",object
ord_3,582084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17916,716.64,16,0.64,"[c, e, n, a, h, b, d, k, g, o, i, m, nan, f, l...",object
ord_4,582070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17930,717.20,27,1.08,NaN,object
ord_5,582287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17713,708.52,191,7.64,NaN,object
target,600000,0.187205,0.390076,0,0,0,0,1,0,0.00,2,0.08,"[0, 1]",int64

time: 4.21 s

#### See headers of all data

In [10]:
train >> head

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

time: 148 ms

In [11]:
test >> head

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,600000,0.0,0.0,0.0,F,Y,Blue,Polygon,Axolotl,Finland,Piano,52f6dd16c,147d704e4,8d857a0a1,ca9ad1d4b,fced9e114,3.0,Novice,Boiling Hot,f,U,oU,3.0,9.0
1,600001,0.0,0.0,0.0,F,Y,Red,Circle,Lion,Russia,Bassoon,691ebeae8,8653dcc2e,67a8d4ebb,060a21580,7ca8775da,1.0,Novice,Cold,n,N,NaN,2.0,8.0
2,600002,0.0,0.0,0.0,F,Y,Blue,Circle,Axolotl,Russia,Theremin,81f792c16,6cdda499e,69403e18c,165e81a00,5940334c9,1.0,Expert,Warm,i,N,DN,2.0,6.0
3,600003,1.0,0.0,0.0,F,N,Red,Polygon,Axolotl,Costa Rica,Bassoon,c9134205b,acbca4827,cb681246b,77d41330d,6fbdeefc8,1.0,Expert,Hot,m,B,AG,1.0,6.0
4,600004,0.0,0.0,1.0,F,Y,Red,Circle,NaN,Finland,Theremin,f0f100f57,6f800b9af,cd9feb5c6,2218d9dfe,2a27c8fde,1.0,Contributor,Lava Hot,o,J,DT,3.0,3.0

time: 115 ms

In [12]:
sample_submission >> head

       id  target
0  600000     0.5
1  600001     0.5
2  600002     0.5
3  600003     0.5
4  600004     0.5

time: 29.2 ms

### Feature engineering

#### Baseline

In [33]:
train.sort_index(inplace=True)

time: 26 ms

In [34]:
train_y = train['target']
test_id = test['id']

time: 24.1 ms

In [35]:
train.drop(['target', 'id'], axis=1, inplace=True)
test.drop('id', axis=1, inplace=True)

time: 244 ms

In [36]:
cat_feat_to_encode = train.columns.tolist()
smoothing=0.20

time: 24.6 ms

In [37]:
oof = pd.DataFrame([])

time: 27.1 ms

In [40]:
for tr_idx, oof_idx in StratifiedKFold(n_splits=5, random_state=2020, shuffle=True).split(train, train_y):
    
    print("Length of training: ",len(tr_idx))
    print("Length of out of fold: ",len(oof_idx))
    
    ce_target_encoder = ce.TargetEncoder(cols = cat_feat_to_encode, smoothing=smoothing)
    ce_target_encoder.fit(train.iloc[tr_idx, :], train_y.iloc[tr_idx])
    oof = oof.append(ce_target_encoder.transform(train.iloc[oof_idx, :]), ignore_index=False)

Length of training:  479999
Length of out of fold:  120001
Length of training:  479999
Length of out of fold:  120001
Length of training:  480000
Length of out of fold:  120000
Length of training:  480001
Length of out of fold:  119999
Length of training:  480001
Length of out of fold:  119999
time: 37.5 s

In [19]:
ce_target_encoder = ce.TargetEncoder(cols = cat_feat_to_encode, smoothing=smoothing)
ce_target_encoder.fit(train, train_y)

TargetEncoder(cols=['bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0',
                    'nom_1', 'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6',
                    'nom_7', 'nom_8', 'nom_9', 'ord_0', 'ord_1', 'ord_2',
                    'ord_3', 'ord_4', 'ord_5', 'day', 'month'],
              drop_invariant=False, handle_missing='value',
              handle_unknown='value', min_samples_leaf=1, return_df=True,
              smoothing=0.2, verbose=0)

time: 7.59 s

In [20]:
train = oof.sort_index()
test = ce_target_encoder.transform(test)

time: 1.78 s

#### Missing value treatment

#### Create features

### EDA

### Modelling

In [21]:
glm = linear_model.LogisticRegression( random_state=1, solver='lbfgs', max_iter=2020, fit_intercept=True, penalty='none', verbose=0)
glm.fit(train, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=2020,
                   multi_class='warn', n_jobs=None, penalty='none',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

time: 56.6 s

### Submission

In [22]:
pd.DataFrame({'id': test_id, 'target': glm.predict_proba(test)[:,1]}).to_csv('submission.csv', index=False)

time: 3.34 s

### QA